.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 50px;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 10%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Form {
  flex-direction: column;
}

.Articles {
  display: flex;
  flex-direction: columns;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.Article {
  width: 90%
}